#!{{ lookPath "sh" }}

echo "Install APT packages"

apt update -y
apt upgrade -y
{{ range .packages.apt -}}
sudo apt install {{ . | quote }} -y
{{ end -}}
{{ range .packages.snapclassic -}}
sudo snap install {{ . | quote }} --classic
{{ end -}}
