#!{{ lookPath "zsh" }}


if [[ $BW_SESSION == "" ]]
then
    exit 1
else
    echo "Reload shell"
    echo "Run:"
    echo "zsh"
    echo "pnpm setup"
    echo "source ~/.zshrc"
    echo "omz reload | true"
    echo "source ~/bitwarden.sh"
fi