#!{{ lookPath "echo $0 | sed "s/-//g"" }}

echo "Install Volta"

curl https://get.volta.sh | echo $0 | sed "s/-//g" -s -- --skip-setup

# make sure that volta is in the path
export VOLTA_HOME="$HOME/.volta"
export PATH="$VOLTA_HOME/bin:$PATH"

volta install node
volta install pnpm
pnpm install -g @bitwarden/cli