#!{{ lookPath "zsh" }}

echo "Login to GitHub"

mkdir -p ~/.ssh

if [[ $BW_SESSION == "" ]]
then
    export BW_SESSION=$(bw unlock --raw)
fi

echo "Install gh"
(type -p wget >/dev/null || (sudo apt update && sudo apt-get install wget -y)) \
&& sudo mkdir -p -m 755 /etc/apt/keyrings \
&& wget -qO- https://cli.github.com/packages/githubcli-archive-keyring.gpg | sudo tee /etc/apt/keyrings/githubcli-archive-keyring.gpg > /dev/null \
&& sudo chmod go+r /etc/apt/keyrings/githubcli-archive-keyring.gpg \
&& echo "deb [arch=$(dpkg --print-architecture) signed-by=/etc/apt/keyrings/githubcli-archive-keyring.gpg] https://cli.github.com/packages stable main" | sudo tee /etc/apt/sources.list.d/github-cli.list > /dev/null \
&& sudo apt update \
&& sudo apt install gh -y

echo "Setup SSH key"
echo "{{ bitwardenAttachmentByRef "id_ed25519" "item" "9ed77cc0-aefa-4a09-9dac-b1b3010d4421"}}" > ~/.ssh/id_ed25519
chmod 600 ~/.ssh/id_ed25519

gh auth login -p ssh -w --skip-ssh-key 