#!{{ lookPath "sh" }}

echo "Install APT packages"

{{ range .packages.apt -}}
sudo apt install {{ . | quote }} -y
{{ end -}}
{{ range .packages.snap-classic -}}
sudo snap install {{ . | quote }} --classic
{{ end -}}
